 <div id="todos" @todosAnimation>
  <h3>Todos : </h3>

  <input #todo (keyup.enter)="add(todo)" type="text" class="form-control">
  <ul class="list-group">
    <li
    @todoCostumAnimation
    *ngFor='let todo of todos$ | async; trackBy: trackById' 
    class="list-group-item"
    >
      <div class="input-group">
        <input 
        #newTodo
        type="text" 
        [value]="todo.title"
        (keyup.enter)="update(todo, newTodo)"
        class="form-control"
      >
        <span class="input-group-btn">
          <button 
            (click)="remove(todo)"
            class="btn btn-default"
            >
            delete
          </button> 
        </span>
      </div>
    </li>
  </ul>
 </div>