<div id="register">
  <mat-tab-group>
    <mat-tab label="register">
        <form class='mat-form'>
            <mat-form-field class="mat-form-control">
              <input matInput placeholder="email">
            </mat-form-field>
            <mat-form-field class="mat-form-control">
              <input type="password" matInput placeholder="password">
            </mat-form-field>
            <mat-form-field class='mat-form-control'>
              <input type="text" matInput [matDatepicker]='datePicker' (click)="datePicker.open()">
              <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class='mat-form-control'>
              <textarea matInput [matTextareaAutosize]="true" placeholder="Describe yourself in some lines ..."></textarea>
            </mat-form-field>
            icon : 
            <mat-icon>alarm_on</mat-icon><br>
            <button 
              matTooltip="click to start spinner "
              color="primary" 
              mat-raised-button 
              (click)="startSpinner()">
              click me 
            </button>
            <mat-progress-spinner 
              mode="determinate" 
              [value]='spinnerValue'>
            </mat-progress-spinner>
          </form>
    </mat-tab>
    <mat-tab label="Dialog">
      <br/>
      <button mat-raised-button (click)="openDialog()">Open dialod</button>
    </mat-tab>
    <mat-tab label="Theming">
      <div class="theming">
      <h2>Typography test</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic reiciendis quas ex reprehenderit, quo obcaecati eveniet maxime facere incidunt adipisci quisquam, dolorum impedit recusandae repudiandae id ad molestiae! Soluta, minus.Quod eveniet ipsam rerum sunt repellendus quos eum optio voluptatibus quo fugiat nulla inventore, assumenda blanditiis. Voluptatum in non obcaecati possimus similique amet commodi, minus minima voluptate labore consectetur aliquam.</p>
      <div class="button-group">
          <button color="primary" mat-raised-button>Primary</button> 
          <button color="accent" mat-raised-button>Accent</button>
      </div>
      </div>
    </mat-tab> 
    <mat-tab label="Counter with redux">
      <app-redux-counter></app-redux-counter>
    </mat-tab>
    <mat-tab label="Exercice redux" style="overflow: hidden">
      <div class="col-md-6">
        <app-add-todo></app-add-todo>
      </div>
      <div class="col-md-6">
          <app-dashboard></app-dashboard>
      </div>
    
    </mat-tab>
    

  </mat-tab-group>
</div>