<div id="dashboard">
  <h4>Dashboard</h4>
  <ul>
    <li>Total items: {{ count$ | async }}</li> 
    <li>Last update: {{ lastUpdate$ | async | date: 'medium' }}</li> 
  </ul>
  <button mat-raised-button (click)="removeAll()">Delete All</button>
</div>