<nav class="navbar" [class]="navBarType == 'default' ? 'navbar-inverse': 'navbar-default'">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      
      <li routerLinkActive="active" class="nav-item" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="nav-link">Home</a>
      </li>

      <li *ngIf="isAdmin()" routerLinkActive="active" class="nav-item">
        <a routerLink="/todos" class="nav-link"> Todos </a>
      </li>
      
      <li *ngIf="isLoggedIn()" routerLinkActive="active" class="nav-item">
          <a routerLink="/posts" [queryParams]="{page: 1, order: 'newest'}" class="nav-link"> Posts </a>
        </li>

      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/register" class="nav-link"> register </a>
      </li>

      <li *ngIf="!isLoggedIn()" routerLinkActive="active" class="nav-item">
        <a routerLink="/login" class="nav-link"> login </a>
      </li>

      <li *ngIf="isLoggedIn()" routerLinkActive="avtive" class="nav-item">
        <a class="item-link" routerLink="vote">Vote</a>
      </li>

      <li *ngIf="isLoggedIn()" routerLinkActive="active" class="nav-item">
          <a class="nav-link" (click)="onLogout()"> logout </a>
        </li>
    </ul>
  </div>
</nav>
