<form ngForm #form="ngForm" (ngSubmit)="login(form)" class="form">
  <mat-error *ngIf="invalidData">
      Invalid email or password.
  </mat-error>
  <mat-form-field class="full-width">
    <input type="text" ngModel name="email" placeholder="email" matInput required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input type="password" ngModel name="password" placeholder="password" matInput required>
  </mat-form-field>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
</form>
