<div class="zippy">
  <div 
    (click)="toggleContent()"
    class="zippy-title">
    Zippt Title 
  </div>
  <div 
    class="zippy-content" 
    [@expandZippy]="isExpanded() ? 'expanded' : 'collapsed'">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione in odio excepturi odit doloribus earum mollitia eos numquam facere omnis itaque incidunt aut fugit, modi reprehenderit error velit illum dolores!
  </div>
</div>