.zippy {
    /* border: solid 1px gray; */
}

.zippy-title, .zippy-content {
    border: solid 1px thistle;
    padding: 20px;
}

.zippy-title { 
    background-color: lightgray;
    font-weight: bold;
    cursor: pointer;
    border-bottom: none;
}
.zippy-content {
    overflow: hidden;
    border-top: none;
}
