<form [formGroup]="form">
  <div class="form-group">
    <label for="name">name : </label>
    <input  formControlName="name" type="text" id="name" class="form-control">
  </div>
  <div class="form-group" formGroupName="contact">
    <div class="form-group">
      <label for="email">Email : </label>
      <input formControlName="email" type="text" id="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="phone">Phone : </label>
      <input formControlName="phone" type="text" id="phone" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <ul class="list-group">
      <li *ngFor="let topic of topics.controls" class="list-group-item"> {{ topic }}</li>
    </ul>
  </div>
</form>
