<h4>Todo List </h4>
<p id="add-todo">
  <mat-form-field>
      <input type="text" matInput #inputTodo (keyup.enter)="addTodo(inputTodo)" placeholder="Add todo">
  </mat-form-field>
  <button mat-raised-button (click)="addTodo(inputTodo)">Add</button>
</p>
<ul id="todos">
  <li *ngFor="let todo of todos$ | async">
    {{ todo.title }} <button mat-raised-button (click)="removeTodo(todo)">Remove</button>
  </li>
</ul>