<div id="vote">
    <strong>Votes : </strong> 
    <span 
        [class.underline]="myVote"
        [ngClass]="vote$ > 0 ? 'like' : 'dislike'">
        {{ vote$ | async }}
    </span> <br>

    <button class="btn btn-default" (click)="like()">like (+)</button>
    <button class="btn btn-default" (click)="dislike()">Dislike (-)</button>
</div>