/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet';
@import 'https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet';

.form-control.ng-touched.ng-invalid {
  border: solid 1px red;
}
