@import '~@angular/material/theming';

@include mat-core();

// Customize Theme
$primary: mat-palette($mat-teal, 800);
$accent: mat-palette($mat-lime, 400);
$warn: mat-palette($mat-red);
$app-theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($app-theme);

// Customize typography
$app-typograpy: mat-typography-config(
  $font-family: 'Quicksand, "Helvetica Neue", sans-serif',
  $title: mat-typography-level(18px, 32px, 500),
);
@include angular-material-typography($app-typograpy);