<style type="text/css">
	span {
		color: blue;
	}
</style>

<div class="panel panel-default">
	<div class="panel panel-heading">
		<ng-content selector=".heading"></ng-content>
	</div>
	<div class="panel panel-body">
		<ng-content selector=".body"></ng-content>
	</div>
	<button class="btn btn-default" (click)="onClick()">Envoyer</button>
</div>
